<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>#node.js IRC Log Documents</title>
  <meta name="description" content="list of documents">
</head>
  <body>
  %s
  </body>
</html>
